name: Deploy Databricks Asset Bundle

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Databricks CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh

      - name: Validate Databricks bundle
        # Updated path to include the 'dev' folder seen in your screenshot
        working-directory: .bundle/asset_bundle_demo/dev
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKENS }}
        run: databricks bundle validate --target prod

      - name: Deploy Databricks bundle
        working-directory: .bundle/asset_bundle_demo/dev
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKENS }}
        run: databricks bundle deploy --target prod
